/* General Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #07081A;
}

body > div {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 64px;
}

.inside_content {
    flex-grow: 1;
}

/* Navigation */

.header_content {
    display: flex;
    justify-content: center;
    padding-top: 28px;
    border-bottom: 1px solid #261C51;

}

nav {
    display: flex;
    max-width: 1040px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.list-items ul li a {
    all: unset;
}

.navb>img {
    cursor: cell;
}

.list-items ul li {
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    cursor: cell;
    transition: 0.6s;
}

.list-items>ul li:hover {
    color: #8de2ff;
}

.list-items ul li:nth-child(1):hover {
    color: #00e4ff;
}

.list-items>ul li:nth-child(1) {
    color: #8CE900;
}

.list-items ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

/* main */

.maintitle_wrap {
    display: flex;
    justify-content: center;
}

.maintitle_wrap>div>span:hover {
    color: #8de2ff;
}

.maintitle_wrap>div>span {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-weight: 800;
    cursor: cell;
    transition: 0.6s;
}

.maintitle_wrap>div {
    max-width: 1040px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* project info */

.project_info_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project_info_wrap>div {
    display: flex;
    justify-content: space-between;
    max-width: 1040px;
    width: 100%;
    padding: 40px 72px;
    background-color: #242642;
    gap: 15px;
}

.project_info_wrap>div>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project_info_wrap>div div p {
    color: #8CE900;
    font-family: Inter;
    font-size: 56px;
    font-weight: 500;
}

.project_info_wrap>div div span {
    color: #C0C0C0;
    font-family: Inter;
    font-size: 20px;
}

/* footer */

.footer_content_wrap {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.footer_content_wrap>div {
    display: flex;
    justify-content: space-between;
    max-width: 1040px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.footer_card1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: cell;
}

.footer_card1>span {
    color: #C0C0C0;
    font-family: Inter;
    font-size: 14px;
}

.footer_card2 ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_card2 ul li {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    cursor: cell;
    transition: 0.6s;
}

.footer_card2 ul li:hover {
    color: #8de2ff;
}

.footer_card2 ul li:nth-child(1) {
    color: #8CE900;
}

.footer_card3 {
    display: flex;
    flex-direction: column;
}

.footer_card3 ul {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_card3 ul li {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    list-style-type: none;
    cursor: cell;
}

.footer_card3 ul li:nth-child(1) {
    color: #8CE900;
}

.block {
    display: block;
}